


<div class="box mt-5">
    <ul class="list-group">
    <div class="my-2 w-25">
        
        <br>
  
            <h4><app-select [data]="categories" [title]="'categories'" (selectedValue)="filterCategory($event)"></app-select></h4>
        </div>
        </ul>
    
        <div class="box mt-5">
            <div class="container">
                <div class="row" *ngIf="!loading">
                    <div class="col-md-3 col-sm-6" *ngFor="let item of products">
                        <app-product [data]="item" (item)="addToCart($event)"></app-product>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center w-100" *ngIf="loading">
            <app-spinner></app-spinner>
        </div>
</div>
